:root {
  --liver: #7A5447ff;
  --papaya-whip: #FCEDD6ff;
  --buff: #DBA67Aff;
}

.App {
  background-color: white;
  color: var(--liver);
}


#QuoteBox {
  background-color: var(--liver);
  color: white;
}
